<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment.html :: head">
</head>

<body>

  <div class="container">
    <h3 style="text-align:center; padding-top:100px;">게시판 목록v.09</h3>
    <br>
    <br>
    <div style="float: left">
    <a th:href="@{/view/board/write_view}">글 작성</a>
    </div>
    <br/>
    <br/>
    <table class="table" style="text-align:center;">
      <thead>
        <tr>
          <th class="col-sm-1">번호</th>
          <th class="col-sm-2">이름</th>
          <th class="col-sm-3">제목</th>
          <th class="col-sm-4">내용</th>
          <th class="col-sm-3">작성시간</th>
        </tr>
      </thead>
      <tr th:each="boardlist : ${list}">
        <th th:text="${boardlist.bid}"></th>
        <th th:text="${boardlist.bname}"></th>
        <th>
          <a th:text="${boardlist.btitle}" th:href="@{'/view/board/' + ${boardlist.bid}}"></a>
          <input id="board_id" type="hidden" th:value="${boardlist.bid}" />
        </th>
        <th th:text="${boardlist.bcontent}"></th>
        <th th:text="${#temporals.format(boardlist.bdate, 'yyyy-MM-dd HH:mm')}"></th>
      </tr>
    </table>
  </div>
</body>
<script>
// XMLHttpRequest 객체의 인스턴스를 생성합니다.
var xhr = new XMLHttpRequest();
xhr.open("GET" ,"/board" , true );
xhr.send();

</script>

</html>