<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment.html :: head">
</head>
<body>

<div class="container">
  <h3 style="text-align:center; padding-top:100px;">게시글 수정</h3>
  <br>
  <br>
  <form th:action="@{/view/board/update}" method="post">
<!--    <input type="hidden" name="_method" value="put"/>-->
    <table class="table" style="text-align:center;">
      <input type="hidden" name="bid" th:value="${modify_view.bid}"/>
      <tr>
        <th>글번호</th>
        <th><span th:text="${modify_view.bid}"></span></th>
      </tr>
      <tr>
        <th>이름</th>
        <th><input class="col-sm-10" type="text" name="bname" th:value="${modify_view.bname}"/>
        </th>
      </tr>
      <tr>
        <th>제목</th>
        <th><input class="col-sm-10" type="text" name="btitle" th:value="${modify_view.btitle}"/>
        </th>
      </tr>
      <tr>
        <th>내용</th>
        <th><textarea class="col-sm-10" style="height:300px;" name="bcontent" th:value="${modify_view.bcontent}" th:text="${modify_view.bcontent}"></textarea>
        </th>
      </tr>
      <tr>
        <th>
          <input type="submit" value="수정하기">
        </th>
        <th>
          <a style="padding-bottom:100px;" th:href="@{'/board/delete/' + ${modify_view.bid}}">삭제하기</a>
        </th>
      </tr>
    </table>
  </form>
</div>
</body>
</html>